[Unit]
Description=PanelWhale API Usage Monitor
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/python3 /opt/panelwhale/main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target
